    body {
        font-size: 18px;
        font-family: "Open Sans", Arial, sans-serif;
        width: 1600px;
    }

     @media screen and (max-width: 768px) {
        .banner_info h1,h2 {
            font-size: 30px !important;
        }
    }

    .social_link {
        position: relative;
        top: 30px;
        right: 215px;
        color: #FFFFFF;
        float: right;
        margin-right: 15px;
    }

    .social a:hover{
        color: #03204f;
        border-radius: 2px;
    }

    .banner {
        padding: 174px 215px;
        background: url("../img/banner.png") no-repeat center top;
    }

    .banner_info h1,h2 {
        color: #fff;
        font-weight: normal;
        line-height: 66px;
        font-size: 44px;
    }

    .banner_info h2 {
        font-weight: lighter;
    }

    .btn {
        line-height: normal;
        font-size: 18px;
        text-align: center;
        letter-spacing: 0.016em;
        text-transform: capitalize;
        display:inline-block;
        padding: 24x;
        background: #FFFFFF;
        color: #2F80ED;
        border-radius: 144px;
        cursor: pointer;
        width: 282px;
        height: 68px;
        border: none;
    }

    .btn:hover {
        background-color: #b0caf2;
        color: #FFFFFF;
    }

    .heading {
        padding: 80px 218px;
    }

    .heading p {
        font-weight: normal;
        line-height: 25px;
        font-size: 44px;
        color: #333333;
    }

    .heading p:last-child {
        font-weight: lighter;
    }

    .descr-wrap {
        padding: 0 437px 80px 215px;
        display: flex;
        align-items: flex-start; 
    }

    .descr-wrap-food:first-child {
        margin-right: 61px;
    } 

    .descr-wrap h3 {
        color: #333333;
        font-family: "Open Sans";
        font-style: normal;
        font-size: 24px;  
    }

    .descr-wrap p {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: lighter;
        font-size: 24px;
        letter-spacing: 0.016em;
    }

    .content-footer {
        height: 1030px;
        background: linear-gradient(122.77deg, #2F80ED 0%, #17345C 98.9%);
    }

    .footer-info {
        padding: 133px 0px 0px 215px;
    }

    .lorem_ipsum {
        color: #fff;
        width: 620px;
    }

    .lorem_ipsum h4 {
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        line-height: 66px;
        font-size: 44px;
        letter-spacing: 0.016em;
    }

    .lorem_ipsum p {
        color: #fff;
        text-indent: 20px;
        margin-bottom: 40px;
    }

    .social_navigation {
        text-decoration: none;
        width: 1170px;
        height: 262px;
        margin: 70px auto;
        text-align: right; 
    }

    .social_name {
       padding-top: 12px;
       margin-right: 94px;
       font-size: 18px;
       height: 261px;  
       display: inline-block;
    }

    .footer {
        margin-top: 100px;
    } 
    .navigation_link {
        float: right;
        height: 261px;
    }
     h5,h6 {
        color: #FFFFFF;
        font-size: 18px;
    }
    h6 {
        margin-bottom: 30px;
    }
    
    .social_navigation a {
        color: rgba(255, 255, 255, 0.7);
        line-height: 40px;   
        text-decoration: none;
    }

    .copyright {
        text-align: left;
        color: rgba(255, 255, 255, 0.7);
    }
   