body {
    font-size: 18px;
    font-family: "Open Sans", Arial, sans-serif;

}


.wrapper { 
    max-width: 1600px;
    margin: 0 auto;
}

.social_link {
    position: relative;
    top: 30px;
    right: 215px;
    color: #FFFFFF;
    float: right;
    margin-right: 15px;
}

.social a:hover{
    color: #03204f;
    border-radius: 2px;
}

.banner {
    padding: 174px 215px;
    background: url("../img/banner.png") no-repeat center top;
}

.banner_info h1,h2 {
     width: 800px;
     height: 55px;
     font-family: Open Sans;
     font-style: normal;
     color: #fff;
     font-weight: normal;
     line-height: 66px;
     font-size: 44px;
     letter-spacing: 0.016em;
    }

    .btn {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 18px;
        text-align: center;
        letter-spacing: 0.016em;
        text-transform: capitalize;
        display:inline-block;
        padding: 24x;
        background: #FFFFFF;
        color: #2F80ED;
        border-radius: 144px;
        cursor: pointer;
        width: 282px;
        height: 68px;
        border: none;
    }
    .btn:hover {
        background-color: #b0caf2;
        color: #FFFFFF;
    }

    .heading {
        padding: 80px 218px;
    }

    .heading p {
        line-height: 66px;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: normal;
        line-height: 25px;
        font-size: 44px;
        letter-spacing: 0.016em;
        
        color: #333333;
    }

    .descr-wrap {
        padding-left: 215px;
        padding-right: 437px;
        padding-bottom: 80px;
        display: flex;
        align-items: flex-start; 
    }
    .descr-wrap h3{
        color: #333333;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 24px;
        letter-spacing: 0.016em;    
    }
    .descr-wrap p {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 24px;
        letter-spacing: 0.016em;
    }

    .content-footer {
        height: 1030px;
        background: linear-gradient(122.77deg, #2F80ED 0%, #17345C 98.9%);
    }

    .footer-info {
        padding: 133px 0px 0px 215px;
    }

    .lorem_ipsum {
        color: #fff;
        width: 620px;
    }
    .lorem_ipsum h4 {
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        line-height: 66px;
        font-size: 44px;
        letter-spacing: 0.016em;
    }

    .lorem_ipsum p {
            color: #fff;
            text-indent: 20px;
            margin-bottom: 40px;
    }